<div class="navbar-header">
    <a class="navbar-brand" href="#">Logo & Title</a>
</div>
<nav class="collapse navbar-collapse" role="navigation">
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#signup">注册</a></li>
        <li><a href="#login">登录</a></li>
        <li><a href="#help">帮助</a></li>
    </ul>
</nav>