<div id="carousel-posters" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel-posters" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-posters" data-slide-to="1"></li>
        <li data-target="#carousel-posters" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img alt="First Slide" data-src="holder.js/1140x300">
        </div>
        <div class="item">
            <img alt="Second Slide" data-src="holder.js/1140x300">
        </div>
        <div class="item">
            <img alt="Third Slide" data-src="holder.js/1140x300">
        </div>
    </div>
    <a class="left carousel-control" href="#carousel-posters" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-posters" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
<div class="col-xs-8">
    <div class="col-xs-4">
        <div href="#" class="thumbnail">
            <img alt="Book 1" data-src="holder.js/100%x180">
            <div class="caption">
                <h4>Book 1</h4>
                <p>Introduction</p>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div href="#" class="thumbnail">
            <img alt="Book 2" data-src="holder.js/100%x180">
            <div class="caption">
                <h4>Book 2</h4>
                <p>Introduction</p>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div href="#" class="thumbnail">
            <img alt="Book 3" data-src="holder.js/100%x180">
            <div class="caption">
                <h4>Book 3</h4>
                <p>Introduction</p>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div href="#" class="thumbnail">
            <img alt="Book 4" data-src="holder.js/100%x180">
            <div class="caption">
                <h4>Book 4</h4>
                <p>Introduction</p>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div href="#" class="thumbnail">
            <img alt="Book 5" data-src="holder.js/100%x180">
            <div class="caption">
                <h4>Book 5</h4>
                <p>Introduction</p>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div href="#" class="thumbnail">
            <img alt="Book 6" data-src="holder.js/100%x180">
            <div class="caption">
                <h4>Book 6</h4>
                <p>Introduction</p>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-4">
    活动
</div>