<!DOCTYPE html>
<html>
<head>
    <title>立人大学</title>
    <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/base.css">
    <script data-main="/js/entries/index.js" src="/js/lib/require.js"></script>
</head>
<body>
    <header class="navbar navbar-inverse" role="header"></header>
    <div id="content" role="content"></div>
    <footer style="background: #222222; color: #999999;" role="footer"></footer>
</body>
</html>