<!DOCTYPE html>
<html>
<head>
    <title>立人大学</title>
    <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/base.css">
    <script data-main="/js/entries/main.js" src="/js/lib/require.js"></script>
</head>
<body>
    <header class="navbar navbar-inverse" role="header"></header>
    <div style="display: table; width: 100%">
        <div class="col-xs-3" role="left-side-bar"></div>
        <div class="col-xs-6" role="content"></div>
        <div class="col-xs-3" role="right-side-bar"></div>
    </div>
    <footer style="background: #222222; color: #999999;" role="footer"></footer>
</body>
</html>