<div class="col-xs-3">
    <div role="affix">
        <ul class="list-group">
            <li class="list-group-item">基本信息</li>
            <li class="list-group-item">导读</li>
            <li class="list-group-item">思考</li>
            <li class="list-group-item">书评</li>
        </ul>
    </div>
</div>
<div class="col-xs-6">
</div>
<div class="col-xs-3"></div>