<div class="media">
    <img class="media-object pull-left" alt="{{name}}" data-src="holder.js/300x200">
    <h2 class="media-heading">{{name}}</h2>
    <div class="media-body">
        <p>时间：</p>
        <p>地点：</p>
    </div>
</div>
<div>
    <div class="page-header">
        <h3>内容简介</h3>
    </div>
    <p>{{introduction}}</p>
</div>