<div class="thumbnail">
    <a href="#actions/{{_id}}">
        <img alt="{{name}}" data-src="holder.js/100%x{{img.height}}">
        <div class="caption">
            <h4>{{name}}</h4>
        </div>
    </a>
</div>