<div id="carousel-posters" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel-posters" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-posters" data-slide-to="1"></li>
        <li data-target="#carousel-posters" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img alt="First Slide" data-src="holder.js/1140x300">
        </div>
        <div class="item">
            <img alt="Second Slide" data-src="holder.js/1140x300">
        </div>
        <div class="item">
            <img alt="Third Slide" data-src="holder.js/1140x300">
        </div>
    </div>
    <a class="left carousel-control" href="#carousel-posters" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-posters" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
<div id="book-list" class="col-xs-8">
</div>
<div id="action-list" class="col-xs-4">
    活动
</div>