<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{title}}</h3>
    </div>
    <div class="panel-body">
        <p>
            <img src="{{user.portraitUrl}}" width="20" height="20">
            {{user.name}}
        </p>
        <p>{{content}}</p>
    </div>
</div>